@import "./variables.scss";
.App {
  text-align: center;
  box-shadow: 0 0 25px 0 #333;
  font-size: 1em;
  background: black;
  @media only screen and (min-width: $minWidth) {
    width:$minWidth;
  }
}