@import "./variables.scss";
.App {
  text-align: center;
  border: 5px solid #000;
  font-size: 1em;
  overflow: hidden;
  @media only screen and (min-width: $minWidth) {
    width:$minWidth;
    border-radius: 1em;
  }
}