$minWidth: 520px;
$buttonWidth: 130px;
$buttonHeight: 130px;
$buttonBorderColor: #eaeaea;
$backgroundColorTop: #FF512F;
$backgroundColorBottom: #F09819;

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}