$minWidth: 400px;
$buttonWidth: 100px;
$buttonHeight: 100px;
$buttonBorderColor: #eaeaea;
$backgroundColorTop: #1795d4;
$backgroundColorBottom: darken($backgroundColorTop, 10%);

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
